@import "tailwindcss";

@theme {
  --color-primary-background: #131921;
  --color-primary-foreground: #f0f2f2;
  --color-accent-color: #232f3e;
  --color-secondary-accent-color: #febd69;
  --color-light-text: #f0f2f2;
  --color-muted-text: #e3e6e6;
  --color-dark-text: #000000;
}